body {
	border-radius: 5px;
}
.settings-container {
	border-radius: 5px;
	background-color: #EFEFEF;
	height: 28em;
	width: 40em;
}
.settings-input-fields {
	position: absolute;
	margin: 10px 0px 0px 10px;
}
input[type=text] {
	width: 200px;
}
.subtext {
	font-size: .8em; color: #999; display:block;
}
.save-button {
	margin: 10px 0px 0px 0px
}

html.popup { 
	width:400px; height:400px; 
}
body.popup {
	height: 580px; font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 12px;
 	background-color: lightgrey;
}
.truncate {
  	white-space: nowrap; 
    width: 31em; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.options.rightside {
	position: relative;
	float: right;
	margin-right: 15px;
	text-align: left;
}
.options.leftside {
	position: relative;
	float: left;
	margin-left: 15px;
}
.options.artifact-title {
	margin-right: 20px;
	margin-left: 20px;
}
.artifact-selections {
	position: absolute;
	border: black solid 1px;
	border-radius: 5px;
	width: 250px;
}
