body {
	border-radius: 5px;
}
.settings-container {
	border-radius: 5px;
	background-color: #EFEFEF;
	height: 25em;
	width: 75em;
}
.settings-input-fields {
	position: absolute;
	margin: 10px 0px 0px 10px;
}
input[type=text] {
	width: 200px;
}
.subtext {
	font-size: .8em; color: #999; display:block;
}
.save-button {
	margin: 10px 0px 0px 0px
}

html.popup { 
	width:400px; height:400px; 
}
body.popup {
	height: 580px; font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 12px;
 	background-color: lightgrey;
}
.truncate {
  	white-space: nowrap; 
    width: 31em; 
    overflow: hidden;
    text-overflow: ellipsis;
}
