body {
	border-radius: 5px;
}
.settings-container {
	border-radius: 5px;
	background-color: #EFEFEF;
	height: 28em;
	width: 40em;
}
.settings-input-fields {
	position: absolute;
	margin: 10px 0px 0px 10px;
}
input[type=text] {
	width: 200px;
}
.subtext {
	font-size: .8em; color: #999; display:block;
}
.save-button {
	margin: 10px 0px 0px 0px
}

html.popup { 
	width:400px; 
	min-height:100px; 
}
body.popup {
	min-height: 100px; 
	font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 10px;
 	background-color: lightgrey;
}
.truncate {
  	white-space: nowrap; 
    /*width: 31em; */
    overflow: hidden;
    text-overflow: ellipsis;
}
.options.rightside {
	position: relative;
	float: right;
	margin-right: 15px;
	text-align: left;
}
.options.leftside {
	position: relative;
	float: left;
	margin-left: 15px;
}
.options.artifact-title {
	margin-right: 20px;
	margin-left: 20px;
}
.options.recents-settings {
	border: 1px solid #4C3C1B;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 10px;
}
.artifact-selections {
	position: absolute;
	border: black solid 1px;
	border-radius: 5px;
	width: 250px;
}
p.truncate {
	border-bottom: 1px dotted;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.popup.enabled {
	border: 1px solid #4C3C1B;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 10px;
}
.strong {
	font-weight: bolder;
}
.popup.link {
	cursor:pointer;
	color:blue;
	text-decoration:underline;
}
.popup.search {
	margin-bottom: 10px;
	font-weight: bold;
}
.hidden {
	display: none;
}